<%= render 'layouts/banner' %>

<div class="row offset3">
	<div class="span6">
		<h3 id="head1">
			Hello! You caught us before we were ready.
		</h3>
		<p class="body_text0">We are working really hard to put the finishing touches to Memoly. Being ex students ourselves we understand that your current revision process is wasting time on what you will later refer to as the best years of your life but we promise that as soon as we are ready we'll let you know. 
		Pop your email in below: </p>
	</div> 

	</br >
	<div class="span8">
		<%= render 'form' %>
	</div>
</div>		

