<%= form_for(@releasetime) do |f| %>
  <% if @releasetime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@releasetime.errors.count, "error") %> prohibited this releasetime from being saved:</h2>

      <ul>
      <% @releasetime.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
