<div class="page-wrap">
    <div class="box">
      <div class="front">
        <button class="show-me">FLIP</button>
      </div>
      
      <div class="back">       
        <button class="show-me">Flip Back</button> 
      </div>
    </div>
</div>