<h1>Memoly Update</h1> 

<!--Group_by topics-->
<h2>Summary of Memolies due for Today</h2>
<ul>
	<% @memoids.each do |memoid|%>
		<li>
			<%= memoid.note.slice 0,30 %>
		</li>
	<% end %>
</ul>

<p> <%= link_to "The Greatest Hits", "http://www.memolyapp.com" + user_path(@user) %> </p>

