/*@font-face {
	font-family: 'PoetsenOne-Regular';
	src:url(font-path("PoetsenOne-Regular.ttf"));
}

@font-face {
	font-family: 'Crete Round', serif;
	src:url("http://fonts.googleapis.com/css?family=Crete+Round:400,400italic");
}*/