<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<header>
				<h1>Header</h1>
			</header>
		</div>
		<div class="span10">
			<h1><span id="head0">Sparkler</span></h1>

			<div class="span-box0 span12 offset2">
				<%= render 'form' %>
			</div>

			</br >

			<%= link_to '<- Back', memoids_path %>
		</div>
	</div>
</div>





