<div class="span7 center headspace">
	<a href=<%= root_path%>>
		<%= image_tag("MemolyLogo.png", :width  => "400em", 
										:height => "100%", 
										:class => "shift0",
										:alt => "Memoly logo")%></a>
</div>
<div class="hero-unit">
  <h1>The Team</h1>
	  <p>
	  	At Memoly we strongly believe in the Japanese proverb that “None of us are as smart as all of us.” 
	  </p>
	  <p>
	  	We believe that technology can lay the foundation in creating a generation who want to change the world for the better through open knowledge and collaborative learning. We believe that education should not simply cater to the curriculum; <strong>it should empower and impassion the individual.</strong>
	  </p>
	<p>The Memoly team currently consists of two members.</p>
	<%=image_tag "memoly_team_cem_jones.png" %>
	<p><strong>Cem Kaymaz-Yildiz</strong> is a University of Northampton, Contemporary Media Production First-Class Graduate currently employed as a Digital Content Producer, specialising in design, multimedia and social media marketing. </p>
	<p><strong>Jones Agyemang</strong> is a University of Sheffield, Computer Science and Mathematics(MComp.) graduate currently working as a Web and iOS Applications Developer specialising in full-stack web technologies using Ruby on Rails and adhering to Agile Methodology for rapid software development.</p>

	<p>Although we are new to the startup world, we believe together we have the passion, drive and entrepreneurial spirit to change the way students learn
	Thank you for your support. Let’s do this!</p>
  <p>
  	<%= link_to "Go Home", root_path, :class => "btn btn-primary btn-large" %>
    <!-- <a class="btn btn-primary btn-large">
      
    </a> -->
  </p>
</div>