<%= render 'layouts/banner' %> </br >

	<h3 class="centerise_text">Contact Us</h3>
	
	<div class="span4 center centerise_text">
		If you have questions please send an email to <a href="mailto:MemolyApp@gmail.com">MemolyApp@gmail.com</a>
	</p></br >