<h1>MemolyApp Privacy Policy</h1>

<strong>Your privacy is critically important to us.</strong> 
<p>At Memoly App we have a few fundamental principles:</p>

<ul>
	<li>
		We don’t ask you for personal information unless we truly need it.
	</li>
	<li>
		We don’t share your personal information with anyone except to comply with the law, develop our products, or protect our rights.
	</li>
	<li>
		We don’t store personal information on our servers unless required for the on-going operation of one of our services.
	</li>
	<li>
		We aim to make it as simple as possible for you to control what’s visible to the public, seen by search engines, kept private, and permanently deleted.
	</li>
</ul>




<p>It is Memoly App's policy to respect your privacy regarding any information we may collect while operating our website.
This privacy statement describes how Memoly App LLC ("Memoly") collects and uses the personal information you provide on our Web site: MemolyApp.com It also describes the choices available to you regarding our use of your personal information and how you can access and update this information.</p><br />


<p>
<h3>Website Visitors</h3>
Like most website operators, Memoly collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Memoly’s purpose in collecting non-personally identifying information is to better understand how Memoly ‘s visitors use its website. From time to time, Memoly may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
Memoly also collects potentially personally-identifying information like Internet Protocol (IP) addresses. Memoly does not use such information to identify its visitors, however, and does not disclose such information, other than under the same circumstances that it uses and discloses personally-identifying information, as described below.</p></br >

<p>
<h3>Gathering of Personally-Identifying Information</h3>
Certain visitors to Memoly 's website choose to interact with Memoly in ways that require Memoly to gather personally-identifying information. The amount and type of information that Memoly gathers depends on the nature of the interaction. For example, we ask visitors who sign up for an account at Memoly to provide a username, date of birth, and email address. Those who engage in financial transactions with Memoly are asked to provide additional information, such as name and credit card number. In each case, Memoly collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor's interaction with Memoly. Memoly does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally- identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.</p></br >

<p>
Aggregated Statistics
MemolyApp may collect statistics about the behavior of visitors to its website. For instance, Memoly may monitor the most popular word sets on the MemolyApp site. Memoly may display this information publicly or provide it to others. However, Memoly does not disclose personally-identifying information other than as described below.</p></br >

<p>
<h3>How We Handle Personally Identifiable Information</h3>
Memoly discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on Memoly t's behalf or to provide services available at Memoly’s website, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Memoly 's website, you consent to the transfer of such information to them. Memoly will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, Memoly discloses potentially personally-identifying and personally-identifying information only when required to do so by law such as to comply with a subpoena, or when Memoly believes in good faith that disclosure is reasonably necessary to protect the property or rights of Memoly, third parties or the public at large. If you are a registered user of a Memoly website and have supplied your email address, Memoly may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what's going on with Memoly and our products. We primarily use our various product blogs to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. Memoly takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information. You may choose to stop receiving our email by updating your email settings within your profile or you can contact us at <a href="mailto:MemolyApp@gmail.com">MemolyApp@gmail.com</a>. </p></br>
<p>
<h3>Class Discussions and Profile</h3>
Certain activity on Memoly may be displayed to other users, such as posts to Memoly discussion boards or our blog, or the information on your Memoly Profile. This information includes your username, class names, and statistics.
You should be aware that any information you provide in these areas may be read, collected, and used by others who access them. To request removal of your personal information from these areas, contact us at <a href="mailto:MemolyApp@gmail.com">MemolyApp@gmail.com</a>. In some cases, we may not be able to remove your personal information, in which case we will let you know if we are unable to do so and why.</p></br >

<p>
<h3>Cookies</h3>
A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. Memoly uses cookies to help Memoly identify and track visitors, their usage of Memoly website, and their website access preferences. Memoly visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Memoly's website, with the drawback that certain features of Memoly’s website may not function properly without the aid of cookies.</p></br >


<p>
<h3>Advertising on Memoly</h3>
Memoly does not provide any personal information to advertisers. The use of third-party cookies is not covered by our privacy statement. We do not have access or control over these cookies.<p></br >

<p><h3>Web Beacons</h3>
Our Web pages contain third-party web beacons (electronic images sometimes called single-pixel gifs), which are used along with cookies to compile aggregated statistics to analyze how our site is used.</p></br >

<p><h3>How to Update your Information</h3>
If your personally identifiable information changes, or if you no longer desire our service, you may review, edit, or delete it on our Settings page. Parents may remove, delete or update an account or any information posted on Memoly by contacting us at <a href="mailto:MemolyApp@gmail.com">MemolyApp@gmail.com</a>.</p></br >

<p>
<h3>Facebook Connect</h3>
You can log in to our site using sign-in services such as Facebook Connect. These services will authenticate your identity and provide you the option to share certain personal information with us such as your name and email address to pre-populate our sign up form. Services like Facebook Connect give you the option to post information about your activities on this Web site to your profile page to share with others within your network.</p></br >

<p>
<h3>Security</h3>
The security of your personal information is important to us. We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, we cannot guarantee its absolute security. If you have any questions about security on our Web site, you can contact us at <a href="mailto:MemolyApp@gmail.com">MemolyApp@gmail.com</a>. </p></br >

<p><h3>Data Retention</h3>
We will retain your information for as long as your account is active or as needed to provide you services. If you wish to cancel your account or request that we no longer use your information to provide you services contact us at <a href="mailto:MemolyApp@gmail.com">MemolyApp@gmail.com</a>. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p></br >
<p>
<h3>Contact Us</h3>
If you have questions or wish to send us comments about this Privacy Policy, please send an email to <a href="mailto:MemolyApp@gmail.com">MemolyApp@gmail.com</a></p></br >

<p>
<h3>Privacy Policy Changes</h3>
Memoly reserves the right to modify this privacy statement at any time, so please review it frequently. If we change how we use your personally identifiable information, we will notify, by email, and/ or by means of a notice on our Web site. </p></br >