<div class="span5 center">
	<header>
		<h1>
			<p class="offset1 center">
				<%= image_tag("MemolyLogo.png", :width  => "280em", 
												:height => "100%", 
												:alt => "Memoly logo")%>
			</p>		
		</h1>
	</header>
</div>
<div class="span6 center">
	<header>
		<h1>
			<p class="head0 offset1 center">
				Revise more effectively
			</p>		
		</h1>
	</header>
</div>
<div class="span7 center">
	<%= image_tag("DeviceOutlines.png", :width  => "500em", 
										:height => "100%", 
										:alt 	=> "compatible devices") %>
</div>
