<div class="row-fluid">
	<div class="span12">
		<h1>
			<span id="head0">
				Revise more effectively with</span> <%= image_tag("MemolyLogo.png", :width  => "280em", 
											:height => "100%", 
											:alt 	=> "Memoly logo")%>
			
		</h1>
	</div>
</div>
<div class="row-fluid">
	<div class="span12 device_img_banner">
		<%= image_tag("DeviceOutlines.png", :width  => "500em", 
											:height => "100%", 
											:alt 	=> "compatible devices") %>
	</div>
</div>

