<p class="span7 offset4">
	<%= image_tag("MemolyLogo.png", :width  => "280em", 
													:height => "100%", 
													:alt => "Memoly logo")%>
</p>

<p class="row-fluid">
	<h1 style="text-align: center;">Revise more effectively</h1>
</p>

<div class="row-fluid">
	<div class="span3"></div>
	<div class="span7 center">
		<%= image_tag("DeviceOutlines.png", :width  => "500em", 
											:height => "100%", 
											:alt 	=> "compatible devices") %>
	</div>
	<div class="span2"></div>
</div>

