<div class="span7 offset3 headspace">
	<%= image_tag("MemolyLogo.png", :width  => "400em", 
									:height => "100%", 
									:alt => "Memoly logo")%>
</div>

<p class="row">
	<h1 class="head0">
		Revise more effectively
	</h1>
</p>

<div class="row-fluid">
	<div class="span7 offset3">
		<%= image_tag("DeviceOutlines.png", :width  => "500em", 
											:height => "100%", 
											:alt 	=> "compatible devices") %>
	</div>
</div>

