<div>
	<h1 class="offset0"> 
		<span id="head0">
			Revise more effectively with
		</span> 
			<%= image_tag("MemolyLogo.png", :width  => "280em", 
											:height => "100%", 
											:alt 	=> "Memoly logo")%>
	</h1>

	<div class="offset2">
		<%= image_tag("DeviceOutlines.png", :width  => "300em", 
											:height => "100%", 
											:alt 	=> "compatible devices") %>
	</div>
</div>