<div class="span7 center headspace">
	<a href=<%= root_path%>>	
		<%= image_tag("MemolyLogo.png", :width  => "400em", 
										:height => "100%", 
										:class => "shift0",
										:alt => "Memoly logo")%>
	</a>
</div>
<div class="row-fluid">
	<h1 class="head1">
		<p class="shift0">Revise more effectively</p>
	</h1>
</div>

<div class="span7 center">
	<%= image_tag("DeviceOutlines.png", :width  => "500em", 
										:height => "100%", 
										:alt 	=> "compatible devices") %>
</div>

